.outer-pokedex {
 display: flex;
 flex-direction: column;
}
#pokedex-heading {
  margin: 0 auto;
  letter-spacing: 5px;
  font-size: 2rem;
  text-align: center;
}
a:visited{
  color: black;
}

/* Responsive styles for smaller devices */
@media (max-width: 768px) {
  #pokedex-heading {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  #pokedex-heading {
    font-size: 1.2rem;
  }
}
